@charset "UTF-8";
button {
  color: white;
  text-transform: uppercase;
  padding: 10px 30px;
}

.hr_divider {
  display: flex;
  min-width: 20vw;
  max-width: 25vw;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: auto;
}

.line__white {
  background-color: white;
  width: 30%;
  height: 1px;
  border: none;
}
.line__grey {
  background-color: #616161;
  width: 30%;
  height: 1px;
  border: none;
}

.circle {
  height: 8px;
  width: 8px;
  background: #ef5350;
}

.header--mobile {
  display: flex;
  flex-direction: row;
  background: #ef5350;
}
.header--mobile__dropdown {
  width: 140px !important;
  overflow: auto !important;
}
.header--mobile__dropdown a {
  color: #616161 !important;
}
.header--large {
  display: none;
  background: transparent;
  position: absolute;
  z-index: 3;
}
.header__list {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  right: 0;
}
.header__item {
  color: white;
  margin: 15px 15px;
  padding: 0 0 10px 0;
  text-transform: uppercase;
}
.header__item:hover {
  color: #ef5350;
  border-bottom: solid #ef5350 2px;
}

.logo--mobile {
  width: 100px;
  margin: 0 auto 0 10px;
}
.logo--large {
  width: 100px;
  margin: 0 5vw 0 5vw;
}

.dropdown__btn {
  background: none;
  margin: auto 10px auto 0;
  box-shadow: none;
}
.dropdown__btn:hover, .dropdown__btn:focus {
  background: none;
  box-shadow: none;
}

.dropdown__icon {
  width: 30px;
  height: 30px;
  padding: 5px 0;
}
.dropdown__icon:hover {
  opacity: 0.75;
}

.slider--large {
  height: 600px !important;
  clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0% 75%, 0% 0%);
}

.slides--large {
  height: 600px !important;
  clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0% 75%, 0% 0%);
}

.slider--small {
  margin: 40px 0 0;
  height: 400px !important;
}

.slides--small {
  margin: 40px 0 0;
}
.slides--small a {
  color: white;
}

.slider .indicators {
  display: none !important;
}

.banner--large {
  display: none;
}
.banner__bg {
  filter: brightness(30%);
}
.banner__content {
  z-index: 2;
  text-align: center;
  color: white;
  padding: 0 15%;
}
.banner__content h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 36px;
  text-align: center;
}
.banner__subtitle {
  font-size: 24px;
}
.banner__btn1 {
  background: #ef5350;
  border: none;
  box-shadow: #616161;
  margin: 20px 15px 0;
}
.banner__btn1:hover, .banner__btn1:focus {
  background: #e53935;
}
.banner__btn2 {
  background: none;
  border: solid 1px white;
}
.banner__btn2:hover, .banner__btn2:focus {
  background: white;
  color: #616161;
}

.slider .slides li .caption p {
  color: white;
}

.our_blog a {
  color: white;
  background-color: #ef5350;
}
.our_blog__icon {
  color: #757575;
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 0 0 white;
  transform: scale(1);
  animation: pulse 2s infinite;
  height: 50px;
  width: 50px;
  background: #F4F5F9;
  padding: 15px 5px;
  margin: -20px auto auto;
}
.our_blog--mobile {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #616161;
}
.our_blog--large {
  display: none;
  text-align: center;
  color: #616161;
}
.our_blog__title {
  font-size: 24px;
  font-weight: 700;
}
.our_blog__hr {
  background: white;
  width: 2px;
  width: 20%;
  margin: 0 0 auto 0;
}
.our_blog__text {
  margin: 30px 0 30px;
}
.our_blog__link {
  font-style: italic;
}
.our_blog__container {
  display: flex;
  flex-direction: column;
  color: white;
  flex-wrap: wrap;
  margin: 30px 0 0;
}
.our_blog__4subcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_blog__2subcontainer {
  display: flex;
  flex-direction: row;
}
.our_blog__picture--left {
  width: 25vw;
  object-fit: cover;
}
.our_blog__picture--right {
  width: 25vw;
  object-fit: cover;
}
.our_blog__article--left {
  text-align: left;
  background: #ef5350;
  padding: 30px;
  width: 25vw;
}
.our_blog__article--left a {
  color: white;
}
.our_blog__article--right {
  text-align: left;
  background: #ef5350;
  padding: 30px;
  width: 25vw;
}
.our_blog__article--right a {
  color: white;
}
.our_blog__subtitle {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
}
.our_blog__text {
  margin: 20px 0;
  font-size: 14px;
}

.fa-anchor:before {
  padding: 0 12px;
  color: #ef5350;
}

.counter {
  background: url("../images/counterbg-s.jpg");
  background-size: cover;
  color: white;
}
.counter__styling_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  backdrop-filter: blur(2px) brightness(60%);
  justify-content: space-around;
  text-align: center;
  padding: 30px 0;
}
.counter__item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.counter__circle i {
  font-size: 24px;
  border: solid 1px white;
  border-radius: 50%;
  padding: 30px;
}
.counter__number {
  font-weight: 700;
  font-size: 24px;
  padding: 10px 0 0;
}

.pricing {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.pricing__title {
  color: #616161;
  font-size: 24px;
  font-weight: 700;
}
.pricing__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 30px 0 0;
}

.card {
  margin: auto !important;
}
.card__bottom {
  background: #F4F5F9;
  position: relative;
  padding: 60px 0 20px !important;
}
.card__bottom p {
  margin: 0 30px 15px !important;
}
.card__button {
  border: none;
  background: #757575;
}
.card__container {
  display: flex;
  flex-direction: column;
  margin: auto !important;
}
.card__circle {
  color: #757575;
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 0 0 white;
  transform: scale(1);
  animation: pulse 2s infinite;
  top: 40px;
  z-index: 3;
  height: 80px;
  width: 80px;
  margin: auto;
  position: relative;
}
.card__price {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  padding: 15px 0 0;
}
.card__title {
  font-weight: 600 !important;
  letter-spacing: 3px;
}
.card__subtitle {
  margin: 0;
  font-size: 12px;
}

.team--mobile {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #ef5350;
  text-align: center;
}
.team--large {
  display: none;
  color: white;
  text-align: center;
  background: url("../images/teambg-l2.jpg");
  background-size: cover;
}
.team__list {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.team__person {
  display: flex;
  flex-direction: row;
}
.team__photo {
  border: 4px solid white;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin: 30px 40px;
}
.team__text {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.team__name {
  font-weight: 600;
  font-size: 17px;
  margin: 60px 0 0;
}

.form--mobile {
  display: flex;
  flex-direction: column;
  background: #F4F5F9;
  text-align: center;
  color: #616161;
}
.form--large {
  display: none;
  background: #F4F5F9;
  text-align: center;
  color: #616161;
}
.form__container {
  width: 70vw;
  margin: 30px auto;
}
.form__button {
  background: #ef5350;
  border: none;
  margin: 30px 0;
}
.form__button:hover, .form__button:focus {
  background: #e53935;
}
.form__title {
  font-size: 24px;
  font-weight: 600;
}

@media screen and (min-width: 728px) {
  .header--large {
    display: flex;
    flex-direction: row;
  }

  .banner--mobile {
    display: none;
  }

  .banner--large {
    display: flex;
    flex-direction: row;
  }

  .banner__content {
    margin: 100px 0 0;
  }

  .banner__btn1 {
    margin: 0 15px 15px 0;
  }

  .banner__btn2 {
    display: none;
  }

  .header--mobile {
    display: none;
  }

  .header--large {
    display: flex;
    flex-direction: row;
  }

  .our_blog--mobile {
    display: none;
  }

  .our_blog--large {
    display: block;
  }

  .our_blog__article--right,
.our_blog__article--left,
.our_blog__picture--right,
.our_blog__picture--left {
    width: 50vw;
  }

  .pricing__container {
    display: flex;
    flex-direction: row;
  }

  .team--mobile {
    display: none;
  }

  .team--large {
    display: flex;
    flex-direction: column;
  }

  .team__photo {
    border: 2px solid #ef5350;
    height: 60px;
    width: 60px;
  }
}
@media screen and (min-width: 870px) {
  .banner__btn2 {
    display: inline-block;
  }
}
@media screen and (min-width: 1028px) {
  .logo--large {
    margin: 0 20vw 0 10vw;
  }

  .header__item {
    margin: 15px 20зx;
  }

  .our_blog__4subcontainer {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1203px) {
  .our_blog__article--right,
.our_blog__article--left,
.our_blog__picture--right,
.our_blog__picture--left {
    width: 25vw;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/*# sourceMappingURL=all.css.map */
