// VARIABLES

// Colors
$primary: #ef5350;
$primary_darken:#e53935;
$font: #616161;
$bg: #F4F5F9;
$cards: #757575;

//Fonts
$largest: 36px;
$larger: 24px;
$large: 17px;
$small: 12px;

//MIXINS

//Helpers

@mixin show {
  display: block;
}

@mixin hide {
  display: none;
}
@mixin hideimp{
  display: none !important;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
}
@mixin circle_anim {
    color: $cards;
    background: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    transform: scale(1);
    animation: pulse 2s infinite;
}
// STYLES

// Helpers

// Main

button {
    color: white;
    text-transform: uppercase;
    padding: 10px 30px;
}

.hr_divider{
    display: flex;
    min-width: 20vw;
    max-width:25vw;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: auto;
}

.line{
    &__white{
        background-color: white;
        width: 30%;
        height: 1px;
        border: none;
    }
    &__grey{
        background-color: $font;
        width: 30%;
        height: 1px;
        border: none;
    }
}

.circle{
    height: 8px;
    width: 8px;
    background: $primary;
}

// Headers
.header{
    &--mobile{
        @include flex-row;
        background: $primary;
        &__dropdown{
            width:140px !important;
            overflow: auto !important;
            & a{
                color: $font !important;
            }
        }
    }
    &--large{
        @include hide;
        background: transparent;
        position: absolute;
        z-index: 3;
    }
    &__list{
        @include flex-row;
        margin: 20px auto;
        right: 0;
    }
    &__item{
        color: white;
        margin: 15px 15px;
        padding: 0 0 10px 0;
        text-transform: uppercase;
        &:hover{
            color: $primary;
            border-bottom: solid $primary 2px;
        }
    }
}

.logo{
    &--mobile{
        width: 100px;
        margin: 0 auto 0 10px;
    }
    &--large{
        width: 100px;
       margin: 0 5vw 0 5vw;
    }
}

.dropdown__btn{
    background: none;
    margin: auto 10px auto 0;
    box-shadow: none;
    &:hover,
    &:focus{
        background: none;
        box-shadow: none;
    }
}
.dropdown__icon{
    width: 30px;
    height: 30px;
    padding: 5px 0;
    &:hover{
        opacity: 0.75;
    }
}

.slider--large{
    height: 600px !important;
    clip-path: polygon(100% 0%,100% 75%,50% 100%,0% 75%,0% 0%);
}

.slides--large{
    height: 600px !important;
    clip-path: polygon(100% 0%,100% 75%,50% 100%,0% 75%,0% 0%);
}

.slider--small{
    margin: 40px 0 0;
    height: 400px !important;
}

.slides--small{
     margin: 40px 0 0;
     & a{
         color: white;
     }
}

.slider .indicators{
    display: none !important;
}

.banner{
    // &--mobile{
    //     @include flex-row;
    //     // justify-content: space-between;
    //     // align-items: center;
    //     // align-content: center;
    // }
     &--large{
        @include hide;
    }
    &__bg{
        filter: brightness(30%);
    }
    &__content{
        z-index: 2;
        text-align: center;
        color: white;
        padding: 0 15%;
        & h1{
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 5px;
            font-size: $largest;
            text-align: center;
        }
    }
    &__subtitle{
        font-size: $larger;
    }
    &__btn1{
        background: $primary;
        border: none;
        box-shadow: $font;
        margin: 20px 15px 0;
        &:hover,
         &:focus{
            background: $primary_darken;
        }
    }
    &__btn2{
        background: none;
        border: solid 1px white;
         &:hover,
         &:focus{
            background: white;
            color: $font;
        }
    }
}
.slider .slides li .caption p {
    color: white;
}

//Our Blog

.our_blog {
    & a{
        color: white;
        background-color: $primary;
    }
    &__icon{
        @include circle_anim;
         height: 50px;
        width: 50px;
        background: $bg;
        padding: 15px 5px;
        margin: -20px auto auto;
    }
    &--mobile{
        @include flex-col;
        text-align: center;
        color: $font;
    }
    &--large{
        @include hide;
        text-align: center;
        color: $font;
    }
    &__title{
        font-size: $larger;
        font-weight: 700;
    }
    &__hr{
        background: white;
        width: 2px;
        width: 20%;
        margin: 0 0 auto 0;
    }
    &__text{
        margin: 30px 0 30px;
    }
    &__link{
        font-style: italic;
    }
    &__container{
        @include flex-col;
        color: white;
        flex-wrap: wrap;
        margin: 30px 0 0; 
    }
    &__4subcontainer{
        @include flex-row;
        flex-wrap: wrap;
       
    }
    &__2subcontainer{
        @include flex-row;
    }
    &__picture--left{
        width: 25vw;
        object-fit: cover;
    }
    &__picture--right{
        width: 25vw;
        object-fit: cover;
    }
    &__article--left{
        text-align: left;
        background: $primary;
       padding: 30px;
        width: 25vw;
        & a{
            color: white;
        }
    }
     &__article--right{
        text-align: left;
        background: $primary;
        padding: 30px;
        width: 25vw;
        & a{
            color: white;
        }
    }
    &__subtitle{
        font-weight: 500;
        text-transform: uppercase;
        font-size: 24px;
    }
    // &__breadcrumbs{
    //     margin: 0;
    // }
    &__text{
        margin: 20px 0;
        font-size: 14px;
    }
    }
.fa-anchor:before{
    padding: 0 12px;
    color: $primary;
}

//Counter

.counter{
    background: url('../images/counterbg-s.jpg');
    background-size: cover;
    color: white;
    &__styling_container{
        @include flex-row;
        flex-wrap: wrap;
        backdrop-filter: blur(2px) brightness(60%);
        justify-content: space-around;
        text-align: center;
        padding: 30px 0;
    }
    &__item{
        @include flex-col;
        flex-wrap: nowrap;
        
    }
    &__circle{
        & i{
            font-size: 24px;
            border: solid 1px white;
            border-radius: 50%;
            padding: 30px;
        }
    }
    &__number{
        font-weight: 700;
        font-size: 24px;
        padding: 10px 0 0;
    }
    // &__title{
        
    // }
}

// Pricing

.pricing{
    @include flex-col;
    text-align: center;
    justify-content: center;
    &__title{
        color: $font;
        font-size: $larger;
        font-weight: 700;
    }
    &__container{
        @include flex-col;
        flex-wrap: nowrap;
        justify-content: space-between;
        // width: 50vw;
        padding: 30px 0 0;
    }
}

.card{
    margin: auto !important;
    &__bottom{
        background: $bg;
        position: relative;
        padding: 60px 0 20px !important;
        & p{
            margin: 0 30px 15px !important;
        }
    }
    &__button{
        border: none;
        background: $cards;
    }
    &__container{
        @include flex-col;
        margin: auto !important;
    }
    &__circle{
        @include circle_anim;
        top: 40px;
        z-index: 3;
        height: 80px;
        width: 80px;
        margin: auto;
        position: relative;

    }
    &__price{
        font-weight: 600;
        font-size: $larger;
        margin: 0;
        padding: 15px 0 0;
    }
    &__title{
        font-weight: 600 !important;
        letter-spacing: 3px;
    }
    &__subtitle{
        margin: 0;
        font-size: $small;
    }
}

//Team

.team{
    &--mobile{
        @include flex-col;
        color: white;
        background-color: $primary;
        text-align: center;
    }
    &--large{
        @include hide;
        color: white;
        text-align: center;
        background: url('../images/teambg-l2.jpg');
        background-size: cover; 
    }
    &__list{
        @include flex-col;
        margin: auto;
    }
    &__person{
        @include flex-row;
    }
    &__photo{
        border: 4px solid white;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        object-fit: cover;
        margin: 30px 40px;
    }
    &__text{
        @include flex-col;
        text-align: left;
    }
    &__name{
        font-weight: 600;
        font-size: $large;
        margin: 60px 0 0;
    }
    // &__title{
    //     color: ;
    // }
}

//Form
.form{
    &--mobile{
        @include flex-col;
        background: $bg; 
        text-align: center;
         color: $font;
    }
    &--large{
        @include hide;
        background: $bg;
        text-align: center;
         color: $font;
    }
    &__container{
        width: 70vw;
        margin: 30px auto;
    }
    &__button{
        background: $primary;
        border: none;
        margin: 30px 0;
        &:hover,
        &:focus{
            background: $primary_darken;
        }
    }
    &__title{
       
        font-size: $larger;
        font-weight: 600;
    }
}

//Footer


// Media queries
@media screen and (min-width: 728px) {
    .header--large{
        @include flex-row;
    }
    .banner--mobile{
        @include hide;
    }
     .banner--large{
        @include flex-row;
    }
    .banner__content{
        margin: 100px 0 0;
    }
    .banner__btn1{
        margin: 0 15px 15px 0;
    }
    .banner__btn2{
       display: none;
    }
     .header--mobile{
        @include hide;
    }
     .header--large{
        @include flex-row;
    }
    .our_blog--mobile{
        @include hide;
    }
    .our_blog--large{
        @include show;
    }
    .our_blog__article--right,
    .our_blog__article--left,
    .our_blog__picture--right,
    .our_blog__picture--left{
        width: 50vw;
    }
    .pricing__container{
        @include flex-row;
    }
    .team--mobile{
        @include hide;
    }
    .team--large{
        @include flex-col;
    }
    .team__photo{
        border: 2px solid $primary;
        height: 60px;
        width: 60px;
    }
}

@media screen and (min-width: 870px){
    .banner__btn2{
        display: inline-block;
    }
}

@media screen and (min-width: 1028px) {
    .logo--large{
         margin: 0 20vw 0 10vw;
    }
    .header__item{
        margin: 15px 20Ð·x;
    }
    .our_blog__4subcontainer{
     flex-wrap: nowrap;
}
}
@media screen and (min-width: 1203px) {
.our_blog__article--right,
    .our_blog__article--left,
    .our_blog__picture--right,
    .our_blog__picture--left{
        width: 25vw;
    }
}
// Cards animation

@keyframes pulse {
        0% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        }

        70% {
          transform: scale(1);
          box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        }

        100% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
      }
